{
	"extends": [
		"next",
		"next/core-web-vitals"
	],
	"rules": {
		"semi": [
			2,
			"always"
		],
		"jsx-quotes": [
			2,
			"prefer-single"
		],
		"indent": [
			2,
			"tab"
		],
		"import/no-anonymous-default-export": [
			2,
			{
				"allowArrowFunction": true
			}
		]
	}
}