@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;600&display=swap');

@function hexToRGB($hex) {
	@return red($hex),
	green($hex),
	blue($hex);
}

@mixin getColors($map) {
	@each $key, $value in $map {
		#{'--#{$key}'}: $value;
		#{'--#{$key}-rgb'}: hexToRGB($value);
	}
}

$themeColors: ("primaryColor": #fff1c8,
	"secondaryColor": #ff9100,
	"accentColor": #4b99ff,
);

:root {
	@include getColors($themeColors);
}

html,
body {
	font-family: 'Lato', sans-serif;
}

body>div>main {
	background-color: var(--primaryColor);

	display: grid;
	place-items: center;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}