@function hexToRGB($hex) {
	@return red($hex),
	green($hex),
	blue($hex);
}

@mixin getColors($map) {
	@each $key, $value in $map {
		#{'--#{$key}'}: $value;
		#{'--#{$key}-rgb'}: hexToRGB($value);
	}
}

$themeColors: (
	"primaryColor": #fff1c8,
	"secondaryColor": #ff9100,
);

:root {
	@include getColors($themeColors);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body>div>main {
	background-color: var(--primaryColor);

	display: grid;
	place-items: center;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}