@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.container {
	img {
		animation: rotation 1.5s forwards infinite;
		width: 70px;
		height: 70px;
	}
}